.release-article__content__header
  = link_to @article.category.name, category_path(@article.category), class: "release-article__content__header__category"
%h1.release-article__content__title
  = @article.title
.release-article__content__tags
  - @article.tags.each do |tag|
    = link_to "##{tag.name}", tag_path(tag), class: "release-article__content__tags__tag"
%p.release-article__content__description
  = @article.description
%p.release-article__content__body
  = markdown(@article.body).html_safe
