= render partial: 'shared/header'
.release-article
  .release-article__content
    = render partial: 'articles/article'
  .content__subs
    = render partial: 'shared/rankings'
    = render partial: 'shared/tags'
= render partial: 'shared/footer'
