- set_meta_tags title: @article.title, description: @article.description, keywords: @article.category.name, og: { title: @article.title, description: @article.description, type: 'article', image: @article.image.url }
= render partial: 'shared/header'
= render partial: 'shared/breadcrumbs'
.release-article
  .release-article__content
    = render partial: 'articles/article'
  .content__subs
    = image_tag('ranking.png', class: "rankings__head")
    = render partial: 'shared/ranking_article', collection: @ranking_articles
    = render partial: 'shared/tags'
= render partial: 'shared/footer'
