.content__articles
  = image_tag('/images/pickup.png', class: "pop")
  %ul
    %li.article
      = image_tag('/images/beach.jpeg', class: "eye-catch")
      %ul.article__content
        %li.article__category
          おでかけ
        %li.article__tag
          %p #ビーチ
        %li.article__tag
          %p #女子旅
        %li.article__title
          2018年夏に行きたい！インスタ映えする海10選！
        %li.article__description
          2018年の夏はインスタ映えする海で遊びませんか？東京から車で行ける距離にインスタ映えする海があるのはご存知でしょうか？今回の記事では、厳選・・・
    %li.article
      = image_tag('/images/beach.jpeg', class: "eye-catch")
      %ul.article__content
        %li.article__category
          おでかけ
        %li.article__tag
          %p #ビーチ
        %li.article__tag
          %p #女子旅
        %li.article__title
          2018年夏に行きたい！インスタ映えする海10選！
        %li.article__description
          2018年の夏はインスタ映えする海で遊びませんか？東京から車で行ける距離にインスタ映えする海があるのはご存知でしょうか？今回の記事では、厳選・・・
    %li.article
      = image_tag('/images/beach.jpeg', class: "eye-catch")
      %ul.article__content
        %li.article__category
          おでかけ
        %li.article__tag
          %p #ビーチ
        %li.article__tag
          %p #女子旅
        %li.article__title
          2018年夏に行きたい！インスタ映えする海10選！
        %li.article__description
          2018年の夏はインスタ映えする海で遊びませんか？東京から車で行ける距離にインスタ映えする海があるのはご存知でしょうか？今回の記事では、厳選・・・
    %li.article
      = image_tag('/images/beach.jpeg', class: "eye-catch")
      %ul.article__content
        %li.article__category
          おでかけ
        %li.article__tag
          %p #ビーチ
        %li.article__tag
          %p #女子旅
        %li.article__title
          2018年夏に行きたい！インスタ映えする海10選！
        %li.article__description
          2018年の夏はインスタ映えする海で遊びませんか？東京から車で行ける距離にインスタ映えする海があるのはご存知でしょうか？今回の記事では、厳選・・・
    %li.article
      = image_tag('/images/beach.jpeg', class: "eye-catch")
      %ul.article__content
        %li.article__category
          おでかけ
        %li.article__tag
          %p #ビーチ
        %li.article__tag
          %p #女子旅
        %li.article__title
          2018年夏に行きたい！インスタ映えする海10選！
        %li.article__description
          2018年の夏はインスタ映えする海で遊びませんか？東京から車で行ける距離にインスタ映えする海があるのはご存知でしょうか？今回の記事では、厳選・・・
