%footer.footer
  .footer__categories
    %h3 CATEGORY
    %ul
      - @categories.each do |category|
        %li.footer_category
          = link_to category.name, category_path(category), class: "add_color"
  .footer__links
    %h3 ABOUT
    %ul
      %li.footer_link
        = link_to 'トップページ', root_path
      %li.footer_link
        = link_to 'タグ一覧'
      %li.footer_link
        = link_to 'カテゴリー', categories_path
      %li.footer_link
        = link_to '記事ランキング'
      %li.footer_link
        = link_to '人気ライター'
  .footer__copyright
    %p copyright
