.rankings
  = link_to image_tag('ranking.png', class: "rankings__head")
  %ul
    %li.rankings__article
      = image_tag('/images/beach.jpeg', class: "eye-catch")
      %ul.rankings__article__content
        %li.rankings__article__category
          おでかけ
        %li.rankings__article__title
          2018年夏に行きたい！インスタ映えする海10選！
    %li.rankings__article
      = image_tag('/images/beach.jpeg', class: "eye-catch")
      %ul.rankings__article__content
        %li.rankings__article__category
          おでかけ
        %li.rankings__article__title
          2018年夏に行きたい！インスタ映えする海10選！
    %li.rankings__article
      = image_tag('/images/beach.jpeg', class: "eye-catch")
      %ul.rankings__article__content
        %li.rankings__article__category
          おでかけ
        %li.rankings__article__title
          2018年夏に行きたい！インスタ映えする海10選！
    %li.rankings__article
      = image_tag('/images/beach.jpeg', class: "eye-catch")
      %ul.rankings__article__content
        %li.rankings__article__category
          おでかけ
        %li.rankings__article__title
          2018年夏に行きたい！インスタ映えする海10選！
    %li.rankings__article
      = image_tag('/images/beach.jpeg', class: "eye-catch")
      %ul.rankings__article__content
        %li.rankings__article__category
          おでかけ
        %li.rankings__article__title
          2018年夏に行きたい！インスタ映えする海10選！
