%li.drafts__article
  .drafts__article__left
    = image_tag('/images/beach.jpeg', class: "eye-catch")
  %ul.drafts__article__middle
    %li.drafts__article__middle__date 2018/08/01
    %li.drafts__article__middle__title 2018年夏に行きたい！インスタ映えする海10選！
    %li.drafts__article__middle__writer SUCLE編集部
  .drafts__article__right
    =link_to '編集', "#", class: "edit__btn"
    =link_to '削除', "#", class: "destroy__btn" if admin_user?(current_user)
    =link_to '公開', "#", class: "release__btn" if admin_user?(current_user)
%li.drafts__article
  .drafts__article__left
    = image_tag('/images/beach.jpeg', class: "eye-catch")
  %ul.drafts__article__middle
    %li.drafts__article__middle__date 2018/08/01
    %li.drafts__article__middle__title 2018年夏に行きたい！インスタ映えする海10選！
    %li.drafts__article__middle__writer SUCLE編集部
  .drafts__article__right
    =link_to '編集', "#", class: "edit__btn"
    =link_to '削除', "#", class: "destroy__btn" if admin_user?(current_user)
    =link_to '公開', "#", class: "release__btn" if admin_user?(current_user)
%li.drafts__article
  .drafts__article__left
    = image_tag('/images/beach.jpeg', class: "eye-catch")
  %ul.drafts__article__middle
    %li.drafts__article__middle__date 2018/08/01
    %li.drafts__article__middle__title 2018年夏に行きたい！インスタ映えする海10選！
    %li.drafts__article__middle__writer SUCLE編集部
  .drafts__article__right
    =link_to '編集', "#", class: "edit__btn"
    =link_to '削除', "#", class: "destroy__btn" if admin_user?(current_user)
    =link_to '公開', "#", class: "release__btn" if admin_user?(current_user)
%li.drafts__article
  .drafts__article__left
    = image_tag('/images/beach.jpeg', class: "eye-catch")
  %ul.drafts__article__middle
    %li.drafts__article__middle__date 2018/08/01
    %li.drafts__article__middle__title 2018年夏に行きたい！インスタ映えする海10選！
    %li.drafts__article__middle__writer SUCLE編集部
  .drafts__article__right
    =link_to '編集', "#", class: "edit__btn"
    =link_to '削除', "#", class: "destroy__btn" if admin_user?(current_user)
    =link_to '公開', "#", class: "release__btn" if admin_user?(current_user)
%li.drafts__article
  .drafts__article__left
    = image_tag('/images/beach.jpeg', class: "eye-catch")
  %ul.drafts__article__middle
    %li.drafts__article__middle__date 2018/08/01
    %li.drafts__article__middle__title 2018年夏に行きたい！インスタ映えする海10選！
    %li.drafts__article__middle__writer SUCLE編集部
  .drafts__article__right
    =link_to '編集', "#", class: "edit__btn"
    =link_to '削除', "#", class: "destroy__btn" if admin_user?(current_user)
    =link_to '公開', "#", class: "release__btn" if admin_user?(current_user)
