%header.drafts-header
  = image_tag('logo.png')
  %h1.drafts-header__title
    Draft Area
  %ul.drafts-header__groval-nav
.draft-article-area
  = form_for @article, url: drafts_path do |f|
    .draft-article-area__label
      = f.label :title
    .draft-article-area__title
      = f.text_field :title
    .draft-article-area__label
      = f.label :description
    .draft-article-area_description
      = f.text_area :description
    .draft-article-area__label
      = f.label :image
    .draft-article-area__image
      = f.file_field :image
    .draft-article-area__label
      = f.label :body
    .draft-article-area__body
      = f.text_area  :body
    .draft-article-area__btn
      = f.submit 'SAVE'
